.home_bg {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.side_panel {
    width: 35ex;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(26, 26, 26);
}

.content {
    height: 100%;
    flex-grow: 1;
    padding: 0 20px;
    background-color: rgb(34, 34, 34);
}

.side_panel_container {
    background-color: rgba(60, 60, 60, 0.5);
    border-radius: 10px;
    margin: 5px;
    padding: 1px 15px;
}

.side_panel_container label {
    display: flex;
    align-items: center;
    padding: 4px;
    font-weight: 500;
}

.side_panel_container:hover {
    background-color: rgb(60, 60, 60);
    border-radius: 15px;
}

.user_controls {
    display: flex;
    justify-content: space-around;
}

.friend_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
