@import "tailwindcss";
html,
body,
#root {
  position: relative;
  z-index: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(26, 26, 26);
  color: whitesmoke;
}

p {
  font-size: large;
  margin: 5px;
}

button {
  border: 0;
  border-radius: 12px;
  padding: 8px 20px;
  margin: 7px 0;
}

button.primary {
  background-color: blueviolet;
  color: azure;
  font-size: large;
}

button.primary:hover {
  background-color: rgb(102, 32, 168);
}

button.primary:active {
  background-color: rgb(77, 25, 126);
}

button.primary:disabled {
    background-color: rgb(57, 18, 92);
    color: grey;
}

button.secondary {
  background-color: rgb(50, 50, 50);
  color: azure;
}